@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNowText-Thin.woff2') format('woff2'),
       url('/fonts/HelveticaNowText-Thin.woff') format('woff'),
       url('/fonts/HelveticaNowText-Thin.ttf') format('truetype');
  font-weight: 300; /* Adjust weight as needed */
  font-style: normal;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'HelveticaNowText', sans-serif;
}



.btn-ghost:hover {
  @apply bg-primary text-white;
}